<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Segment Generator</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app" style="display:grid; grid-template-columns: 1fr 1fr;">
        <section>
        <div v-for="(segment, index) in segments">
            <div>
                <label>Segment {{ index }}</label>
                <input type="number" name="segmentStart"/>
            </div>
            <div>
                <label>Segment {{ index }}</label>
                <input type="number" name="segmentDuration"/>
            </div>
            <button @click.prevent="removeSegment">Delete</button>
        </div>

        <button @click="addSegment">Add Segment</button>
        </section>

        <pre lang="xml">
            <?xml version="1.0" encoding="UTF-8"?>
            <SignalProcessingNotification 
            xmlns="urn:cablelabs:iptvservices:esam:xsd:signal:1" 
            xmlns:sig="urn:cablelabs:md:xsd:signaling:3.0" 
            xmlns:common="urn:cablelabs:iptvservices:esam:xsd:common:1" 
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            acquisitionPointIdentity="ExampleESAM"
            v-pre>

            <common:BatchInfo batchId="1" v-pre>
            <common:Source xsi:type="content:MovieType" v-pre/>
            </common:BatchInfo v-pre>

            <ResponseSignal v-for="(segment, index) in segments" acquisitionPointIdentity="ExampleESAM" acquisitionSignalID="1" signalPointID="60.00" action="create" v-pre>
                <sig:NPTPoint nptPoint="60.00" v-pre/>
                <sig:SCTE35PointDescriptor spliceCommandType="06" v-pre>
                  <sig:SegmentationDescriptorInfo segmentEventId="1" segmentTypeId="52" upidType="9" upid="1" duration="PT30S" segmentNumber="1" segmentsExpected="1" v-pre/>
                </sig:SCTE35PointDescriptor v-pre>
              </ResponseSignal v-pre>
              <ConditioningInfo acquisitionSignalIDRef="1" startOffset="PT60S" duration="PT30S" v-pre/>
            </pre>

    </div>

    <script>
      const { createApp } = Vue

      createApp({
        data() {
          return {
            segments:[
                {
                    segmentStart: '',
                    segmentDuration: ''
                }
            ]
          }
        },
        methods: {
            addSegment: function(){
                this.segments.push({segmentStart:'', segmentDuration:''});
            }, 
            removeSegment: function() {

            }
        }
      }).mount('#app')
    </script>
</body>